In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as plt_ex

In [18]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', np.nan, np.nan, np.nan],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 4, 15, 15]
})

In [19]:
df

     brand style  rating
0  Yum Yum   cup       4
1  Yum Yum   cup       4
2      NaN   cup       4
3      NaN  pack      15
4      NaN  pack      15

In [21]:
df.duplicated(keep=False)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [35]:
def convert_numeric(x):
    try:
        val = pd.to_numeric(x)
        return val
    except:
        return x

df_test = pd.DataFrame({
    'rating': [4.2, 4, 4, 15, "this is a text"]
})
df_test.rating.apply(convert_numeric)

0               4.2
1                 4
2                 4
3                15
4    this is a text
Name: rating, dtype: object

In [49]:
df_test.rating.apply(convert_numeric).apply(lambda x:type(x) == str)

0    False
1    False
2    False
3    False
4     True
Name: rating, dtype: bool

In [52]:
df_test.rating.apply(convert_numeric).apply(type)

0    <class 'float'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'str'>
Name: rating, dtype: object

In [55]:
df_test.rating.apply(convert_numeric).apply(type).apply(lambda x:type(x) == str)

0    False
1    False
2    False
3    False
4    False
Name: rating, dtype: bool

In [46]:
float.is_integer(5.4)

False

In [47]:
float.is_integer(5.0)

True

In [48]:
float.is_integer(np.nan)

False