In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as plt_ex

In [2]:
datasetTweetsCSVPath = "./dataset/tweets.csv"

# Tweets: Overview

In [3]:
df_tweets = pd.read_csv(datasetTweetsCSVPath, sep=',', index_col=0)

In [4]:
numberOfRows, numberOfColumns = df_tweets.shape
print("rows =", numberOfRows)
print("columns =", numberOfColumns)

rows = 13664696
columns = 9

In [5]:
df_tweets.head()

,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
id,,,,,,,,,
509354017856950272,327746321,0,0,0,0,0,0,2019-09-11 14:53:55,"If man is a little lower than angels, then ang..."
583002592529121280,333722906,1,0,0,0,0,1,2020-04-01 20:27:04,"""@BestWSHHVids: how do you say these words wit..."
461498835362013185,2379755827,0,0,0,0,0,1,2019-05-02 13:34:31,@LOLatComedy awsome
528808127366692864,466226882,0,0,0,0,0,0,2019-11-04 07:17:37,Stephen Hawkins: i buchi neri non esistono se ...
575336690904006656,1355537995,114,0,0,1,0,1,2020-03-11 16:45:31,RT @tibbs_montris: So ready for Wednesday!

In [6]:
df_tweets.dtypes

user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
text              object
dtype: object

In [7]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13664696 entries, 509354017856950272 to 486479812614451200
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   retweet_count   object
 2   reply_count     object
 3   favorite_count  object
 4   num_hashtags    object
 5   num_urls        object
 6   num_mentions    object
 7   created_at      object
 8   text            object
dtypes: object(9)
memory usage: 1.0+ GB

In [9]:
print("Number of distinct values in user_id: \t\t", len(df_tweets.user_id.unique()), "/", numberOfRows)
print("Number of distinct values in retweet_count:\t", len(df_tweets.retweet_count.unique()), "/", numberOfRows)
print("Number of distinct values in reply_count: \t", len(df_tweets.reply_count.unique()), "/", numberOfRows)
print("Number of distinct values in favorite_count: \t", len(df_tweets.favorite_count.unique()), "/", numberOfRows)
print("Number of distinct values in num_hashtags: \t", len(df_tweets.num_hashtags.unique()), "/", numberOfRows)
print("Number of distinct values in num_urls: \t\t", len(df_tweets.num_urls.unique()), "/", numberOfRows)
print("Number of distinct values in num_mentions: \t", len(df_tweets.num_mentions.unique()), "/", numberOfRows)
print("Number of distinct values in created_at: \t", len(df_tweets.created_at.unique()), "/", numberOfRows)
print("Number of distinct values in text: \t\t", len(df_tweets.text.unique()), "/", numberOfRows)

Number of distinct values in user_id: 		 222286 / 13664696
Number of distinct values in retweet_count:	 229168 / 13664696
Number of distinct values in reply_count: 	 158620 / 13664696
Number of distinct values in favorite_count: 	 158764 / 13664696
Number of distinct values in num_hashtags: 	 104780 / 13664696
Number of distinct values in num_urls: 		 157146 / 13664696
Number of distinct values in num_mentions: 	 131539 / 13664696
Number of distinct values in created_at: 	 8127084 / 13664696
Number of distinct values in text: 		 6778479 / 13664696

In [20]:
df_tweets_duplicated = df_tweets.duplicated(keep='first')

In [21]:
df_tweets_duplicated.sum()

1952603

In [28]:
df_tweets_drop_duplicates = df_tweets.drop_duplicates(keep='first')

In [29]:
df_tweets_drop_duplicates.shape

(11712093, 9)

# Tweets: Attributes analysis

## Index

In [13]:
df_tweets.index.dtype

dtype('O')

In [24]:
uniqueTweetsCount = len(df_tweets.index.unique())
print(uniqueTweetsCount, "/", numberOfRows, "\t\t")

11672136 / 13664696

In [15]:
print(df_tweets.index.isna().sum(), "missing indexes")
df_tweets[df_tweets.index.isna()]

2 missing indexes

,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
id,,,,,,,,,
NaN,466475273,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 07:09:46,NaN
NaN,87334609,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-13 01:10:44,NaN

In [23]:
df_tweets.index.duplicated(keep='first').sum()

1992560

In [33]:
df_tweets_duplicated_index = df_tweets_drop_duplicates.index.duplicated(keep='first')
df_tweets_duplicated_index.sum()

40461

## User_id

In [31]:
len(df_tweets_drop_duplicates.user_id.unique())

222286

In [35]:
df_tweets_drop_duplicates[df_tweets_duplicated_index]

,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
id,,,,,,,,,
pyj,2266494228,NaN,NaN,NaN,NaN,0.0,0,2019-04-03 23:11:44,Seriously don't know what happened one minute ...
ixi,30jfd7yr,0,NaN,NaN,NaN,NaN,NaN,2019-10-29 21:21:04,NaN
isj,242746743,0,NaN,NaN,NaN,NaN,NaN,2020-04-26 14:47:54,NaN
tlw,531143012,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-17 14:56:01,NaN
hjw,198656514,0,0.0,NaN,NaN,NaN,NaN,2019-05-17 19:38:39,NaN
...,...,...,...,...,...,...,...,...,...
hgjz,181191283,0,0.0,0.0,0.0,NaN,1,2020-03-28 23:07:31,@whitequark what would I check on my 3V supply?
cgx,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2019-02-01 09:49:26,NaN
tqn,2649554102,0,0.0,0.0,NaN,NaN,NaN,2020-04-12 15:10:20,NaN
lhfu,fi5u,0,0.0,0.0,1.0,0.0,0,2018-04-23 19:55:43,That was video game passing! #SPURSvLAKERS
twu,546096491,1,0.0,3.0,NaN,NaN,NaN,2020-04-29 17:46:57,NaN