In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as plt_ex

def countMissingValues(df, attr):
    count = df[attr].isna().sum()
    print(count, "missing", attr, "values")
    return count

In [2]:
datasetTweetsCSVPath = "./dataset/tweets.csv"

In [3]:
df_tweets = pd.read_csv(datasetTweetsCSVPath, sep=',', index_col=0)

In [5]:
df_tweets.shape

(13664696, 9)

In [6]:
df_tweets = df_tweets.drop_duplicates(keep='first')

In [7]:
df_tweets.shape

(11712093, 9)

1. how many text = ""
2. missing text = ""
3. missing user_id = "" or -1
4. dropping bad rows (more than 4/7 missing attributes)

In [22]:
len(df_tweets[df_tweets.text == ""])

0

In [23]:
df_tweets.text.isna().sum()

530031

In [25]:
df_tweets.text.fillna("", inplace=True)
df_tweets.text.isna().sum()

0

In [29]:
len(df_tweets[df_tweets.user_id == -1])

0

In [27]:
df_tweets.user_id.isna().sum()

217276

In [30]:
df_tweets.user_id.fillna(-1, inplace=True)
df_tweets.user_id.isna().sum()

0

In [31]:
tweets_isna = df_tweets.isna()

In [32]:
tweets_isna.head()

,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
id,,,,,,,,,
509354017856950272,False,False,False,False,False,False,False,False,False
583002592529121280,False,False,False,False,False,False,False,False,False
461498835362013185,False,False,False,False,False,False,False,False,False
528808127366692864,False,False,False,False,False,False,False,False,False
575336690904006656,False,False,False,False,False,False,False,False,False

In [33]:
count_of_missing_val = tweets_isna.sum(axis = 1)

In [34]:
count_of_missing_val.max()

6

In [39]:
df_tweets[count_of_missing_val < 4]

,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
id,,,,,,,,,
509354017856950272,327746321,0,0,0,0,0,0,2019-09-11 14:53:55,"If man is a little lower than angels, then ang..."
583002592529121280,333722906,1,0,0,0,0,1,2020-04-01 20:27:04,"""@BestWSHHVids: how do you say these words wit..."
461498835362013185,2379755827,0,0,0,0,0,1,2019-05-02 13:34:31,@LOLatComedy awsome
528808127366692864,466226882,0,0,0,0,0,0,2019-11-04 07:17:37,Stephen Hawkins: i buchi neri non esistono se ...
575336690904006656,1355537995,114,0,0,1,0,1,2020-03-11 16:45:31,RT @tibbs_montris: So ready for Wednesday!
...,...,...,...,...,...,...,...,...,...
329829994169786368,220933018,0,0,0,0,0,0,2018-05-04 05:29:33,ESTA MANANA AUN ESTA MUY FRIO ! MIREN ESTO ! ...
588535254207467520,587491046,0,0,0,0,0,1,2020-04-17 02:51:53,"@warriors Congrats, maybe I'll be able to get ..."
718157017970961,91781300,0,NaN,l25suv5,NaN,0.0,NaN,2016-07-10 22:43:09,
441301348676415488,127895572,0,0,1,1,0,0,2019-03-07 19:56:55,Shooting crew of porn movies. #TheWorstJobToHave
486479812614451200,465421036,3,0,4,0,0,0,2019-07-10 12:00:00,"Qualcuno dovrÃ pur dire a quelli che ""Twitter..."

In [48]:
def IsNumber(num):
    try:
        val = float(num)
        return not math.isnan(val)# and not float.is_integer(val)
    except ValueError:
        return False
df_tweets.retweet_count.apply(IsNumber)

id
509354017856950272    True
583002592529121280    True
461498835362013185    True
528808127366692864    True
575336690904006656    True
                      ...
329829994169786368    True
588535254207467520    True
718157017970961       True
441301348676415488    True
486479812614451200    True
Name: retweet_count, Length: 11712093, dtype: bool