In [1]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as plt_ex

In [2]:
datasetTweetsCSVPath = "./dataset/tweets.csv"

# Tweets: Overview

In [3]:
df_tweets = pd.read_csv(datasetTweetsCSVPath, sep=',', index_col=0)

In [4]:
numberOfRows, numberOfColumns = df_tweets.shape
print("rows =", numberOfRows)
print("columns =", numberOfColumns)

rows = 13664696
columns = 9

In [5]:
df_tweets.head()

,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
id,,,,,,,,,
509354017856950272,327746321,0,0,0,0,0,0,2019-09-11 14:53:55,"If man is a little lower than angels, then ang..."
583002592529121280,333722906,1,0,0,0,0,1,2020-04-01 20:27:04,"""@BestWSHHVids: how do you say these words wit..."
461498835362013185,2379755827,0,0,0,0,0,1,2019-05-02 13:34:31,@LOLatComedy awsome
528808127366692864,466226882,0,0,0,0,0,0,2019-11-04 07:17:37,Stephen Hawkins: i buchi neri non esistono se ...
575336690904006656,1355537995,114,0,0,1,0,1,2020-03-11 16:45:31,RT @tibbs_montris: So ready for Wednesday!

In [6]:
df_tweets.dtypes

user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
text              object
dtype: object

In [7]:
df_tweets.index.dtype

dtype('O')

In [8]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13664696 entries, 509354017856950272 to 486479812614451200
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   retweet_count   object
 2   reply_count     object
 3   favorite_count  object
 4   num_hashtags    object
 5   num_urls        object
 6   num_mentions    object
 7   created_at      object
 8   text            object
dtypes: object(9)
memory usage: 1.0+ GB

In [9]:
df_tweets.isnull().any()

user_id            True
retweet_count      True
reply_count        True
favorite_count     True
num_hashtags       True
num_urls           True
num_mentions       True
created_at        False
text               True
dtype: bool

In [ ]:
print("Number of distinct values in user_id: \t\t", len(df_tweets.user_id.unique()), "/", numberOfRows)
print("Number of distinct values in retweet_count:\t", len(df_tweets.retweet_count.unique()), "/", numberOfRows)
print("Number of distinct values in reply_count: \t", len(df_tweets.reply_count.unique()), "/", numberOfRows)
print("Number of distinct values in favorite_count: \t", len(df_tweets.favorite_count.unique()), "/", numberOfRows)
print("Number of distinct values in num_hashtags: \t", len(df_tweets.num_hashtags.unique()), "/", numberOfRows)
print("Number of distinct values in num_urls: \t\t", len(df_tweets.num_urls.unique()), "/", numberOfRows)
print("Number of distinct values in num_mentions: \t", len(df_tweets.num_mentions.unique()), "/", numberOfRows)
print("Number of distinct values in created_at: \t", len(df_tweets.created_at.unique()), "/", numberOfRows)
print("Number of distinct values in text: \t\t", len(df_tweets.text.unique()), "/", numberOfRows)

Number of distinct values in user_id: 		 222286 / 13664696
Number of distinct values in retweet_count:	 229168 / 13664696
Number of distinct values in reply_count: 	 158620 / 13664696
Number of distinct values in favorite_count: 	 158764 / 13664696
Number of distinct values in num_hashtags: 	 104780 / 13664696
Number of distinct values in num_urls: 		 157146 / 13664696
Number of distinct values in num_mentions: 	 131539 / 13664696

In [ ]:
df_tweets.describe()

In [ ]:
distinct_number_of_tweets = len(df_tweets.text.unique())
total_number_of_tweets    = numberOfRows
if (distinct_number_of_tweets == total_number_of_tweets):
    print("There aren't duplicate tweets")
else:
    print("There are duplicate tweets, maybe some missing tweets")

# Tweets: Attributes analysis